{{!-- <section class="search"> --}}
    <form class="search" method="GET">
        <input type="text" name="search" class="input-searh" placeholder="Търси в съдържанието на задачата...">
        <input type="submit" class="btn-search" value="Търси">
    </form>
{{!-- </section> --}}