<section>
    <form class="search float-right" method="GET">
        <label>Търси в съдържанието на задачата: </label>
        <input type="text" name="search">
        <input type="submit" class="btn btn-primary" value="Търси">
    </form>
</section>