<section>
    <form class="search" method="GET">
        <label>Търси в съдържанието на задачата: </label>
        <input type="text" name="search">
        <input type="submit" class="btn btn-search" value="Търси">
    </form>
</section>