{{!-- <section class="search"> --}}
    <form class="search" method="GET">
        <input type="text" name="search" class="input-searh" placeholder="Търси в съдържанието на задачата...">
        <button type="submit" class="btn-search"><i class='fas fa-search'></i></button>
    </form>
{{!-- </section> --}}