<div class="search">

    <form  method="GET">

        <input 
            type="text" 
            class="search-input"
            name="search" 
            placeholder="Търси..."
        >

        <button 
            type="submit" 
            class="search__btn">
            Търси
        </button>

        {{!-- <i class="fas fa-angle-up" 
            onclick="hideSearch()">
        </i> --}}

    </form>
    
</div>


    
