<h4>Създадена на <strong>5 юни 15:00</strong> от Мега</h4>

<div class="task-info">
    {{task.content}}
</div>

<div class="task-actions">

    <a href="/{{_id}}/delete">
        <i class='fas fa-trash-alt'>
            <p>Изтрий задачата</p>
        </i></a>

    <a href="/{{_id}}/complete">
        <i class='fas fa-check'>
            <p>Завърши задачата</p>
        </i></a>
        
</div>