<div class="task-completed">
    <p class="task-created">Създадена на 5 юни 15:00 от Мега</p>
    <p class="task-content">{{task.content}}</p>
    <div>
        <a href="/{{_id}}/delete"><i class='fas fa-trash-alt'></i></a>
        <p class="task-completed-at">Завършена на 5 юни 16:30</p>
    </div>
</div>