<div class="task-to-do">
    <p class="task-created">Създадена на 5 юни 15:00 от Мега</p>
    <p class="task-content">{{task.content}}</p>
    <a href="/{{_id}}/delete"><i class='fas fa-trash-alt'></i></a>
    <a href="/{{_id}}/complete"><i class='fas fa-check'></i></a>

</div>