<div class="card">
    <div class="card-body">
        <h4 class="card-content">{{content}}</h4>
    </div>
    <div class="card-footer">
        <a href="/{{_id}}/details"><button type="button" class="btn card-btn">>></button></a>
    </div>
</div>