<h4>Създадена на <strong>5 юни 15:00</strong> от Мега</h4>

<div class="task-info">
    {{task.content}}
</div>

<div class="task-actions">

    <a href="/{{task._id}}/delete" onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');">
        <i class='fas fa-trash-alt'>
            <p>Изтрий задачата</p>
        </i></a>

    <h4 class="task-completed">
        Завършена на <strong>6 юни 16:00</strong> от Мега
    </h4>
        
</div>