<div class="card mb-4">
    <div class="card-body">
        <h4 class="card-title">{{content}}</h4>
    </div>
    <div class="card-footer">
        <a href="/{{_id}}/details"><button type="button" class="btn btn-primary">Details</button></a>
    </div>
</div>