<h4>Създадена на <strong>5 юни 15:00</strong> от Мега</h4>

<div class="task-info">
    {{task.content}}
</div>

<div class="task-actions">
    
    <a href="/{{task._id}}/delete" class="delete-msg">
        <i class='fas fa-trash-alt'>
            <p>Изтрий задачата</p>
        </i>
    </a>

    <a href="/{{task._id}}/complete" onclick="return confirm('Сигурен ли си, че искаш да завършиш тази задача?');">
        <i class='fas fa-check'>
            <p>Завърши задачата</p>
        </i>
    </a>
        
</div>


{{!-- onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази задача?');" --}}