<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    --}}
    {{!--
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' /> --}}
</head>

<body>
    <div class="container">
        <nav>

            {{#if user}}

            <section class="header">
                <h1 class="title">Задачи</h1>
                <div class="header-right">
                    <h3 class="greeting">Здравей, {{user.username}}!</h3>
                    <a href="/auth/logout" class="navbar-link">Изход от профила</a>
                </div>
            </section>

            <section class="navbar-nav">
                <a class="navbar-link" href="/to-do">Задачи за изпълнение</a>
                <a class="navbar-link" href="/archive">Завършени задачи</a>
                <a class="navbar-link" href="/all">Всички задачи</a>
                <a class="navbar-link" href="/my-tasks">Моите задачи</a>
            </section>
                <a href="/create" class="btn btn-create">Създай нова задача</a>

            {{/if}}

        </nav>

        <main>
            {{#if error}}
            <section class="notifications">
                <p class="notification-message">{{error.message}}</p>

            </section>
            {{/if}}

            {{{body}}}

        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2021 Mgl</div>
        </footer>

    </div>
</body>

</html>