<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/static/css/site.css" type="text/css" rel="stylesheet">
    {{!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    --}}
    {{!--
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/favicon.png' /> --}}
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">

            {{#if user}}

            <p class="p-greeting">Здравей, {{user.username}}!</p>
            <a href="/auth/logout" class="nav-link">Изход от профила</a>

            <section class="navbar-nav ml-auto">
                <a class="navbar-brand" href="/to-do">Задачи за изпълнение</a>
                <a class="navbar-brand" href="/archive">Завършени задачи</a>
                <a class="navbar-brand" href="/all">Всички задачи</a>
                <a class="navbar-brand" href="/my-tasks">Моите задачи</a>
                <a href="/create" class="btn btn-warning ">Създай нова задача</a>
            </section>
            
            {{/if}}

        </nav>

        <main>
            {{#if error}}
            <section class="notifications">
                <p class="notification-message">{{error.message}}</p>

            </section>
            {{/if}}

            {{{body}}}

        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2021 Mgl</div>
        </footer>

    </div>
</body>

</html>