<section>

    <form class="create" method="POST">
        
        <a class="card__back"
            href="#">
            <i class="fas fa-arrow-left"></i>
        </a>
        
        <p class="create__title">Създай задача</p>

        <textarea 
            class="create__textarea"
            type="text" 
            placeholder="Съдържание..." 
            name="content">
        </textarea>

        <button class="create__cancel">
            <a href="/tasks/to-do"
                onclick="return confirm('Сигурен ли си, че се отказваш?');"></a>
            <i class="fas fa-times"></i>
            <span>Отказ</span>
        </button>

        <button 
            class="create__save"
            type="submit"
            onclick="return confirm('Сигурен ли си, че искаш да създадеш тази задача?');">
            <i class='fas fa-save'></i>
            <span>Създай</span>
        </button>

    </form>

</section>