<h3>Създай задача</h3>

<form class="create-form" method="POST">
    <textarea type="text" placeholder="Съдържание..." name="content"></textarea>
</form>

<div class="task-actions">

    <a href="/to-do">
        <i class='fas fa-times'>
            <p>Отказ</p>
        </i></a>

    <a href="/{{_id}}/create">
        <i class='fas fa-save'>
            <p>Създай</p>
        </i>
    </a>
       
</div>