<section>

    <form class="card" method="POST">
        
        <a class="card__back"
            onclick="history.back()">
            <i class="fas fa-arrow-left"></i>
        </a>
        
        <p class="card__info">Създай задача</p>

        <textarea 
            class="create__textarea"
            type="text" 
            placeholder="Съдържание..." 
            name="content">
        </textarea>

        <button 
            class="card__delete"
            onclick="history.back()">
            <i class="fas fa-times"></i>
            <span>Откажи</span>
        </button>

        <button 
            class="card__complete"
            type="submit"
            onclick="return confirm('Сигурен ли си, че искаш да създадеш тази задача?');">
            <i class='fas fa-save'></i>
            <span>Създай</span>
        </button>

    </form>

</section>