<section>

    <h3>Създай задача</h3>

    <form class="create-form" method="POST">
        
        <textarea type="text" placeholder="Съдържание..." name="content"></textarea>

        <div class="task-actions">
            <a href="/tasks/to-do" onclick="return confirm('Сигурен ли си, че се отказваш?');">
                <i class='fas fa-times'>
                    <p>Отказ</p>
                </i>
            </a>
            <button type="submit" onclick="return confirm('Сигурен ли си, че искаш да създадеш тази задача?');">
                <i class='fas fa-save'>
                    <p>Създай</p>
                </i>
            </button>
        </div>
    </form>

</section>