<section>

    <form class="card" method="POST">
        
        {{>back-btn}}
        
        <p class="card__info">Създай задача</p>

        <textarea 
            class="card__content"
            type="text"
            cols="10"
            autofocus
            name="content">
        </textarea>

        <button 
            class="action-btn action-btn__red"
            onclick="history.back()">
            <i class="fas fa-times"></i>
            <span>Откажи</span>
        </button>

        <button 
            class="action-btn action-btn__green"
            type="submit"
            onclick="return confirm('Сигурен ли си, че искаш да създадеш тази задача?');">
            <i class='fas fa-save'></i>
            <span>Създай</span>
        </button>

    </form>

</section>