<main>
    <form class="text-center border border-light p-5" method="POST">
        <h1>Създай задача</h1>
        
        <div class="form-group">
            <textarea class="form-control" placeholder="Съдържание" name="content"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Създай</button>
    </form>
</main>