<h2>
    Сигурен ли си, че искаш да изтриеш задачата?
</h2>

<form class="task-actions" action="/{{task._id}}/delete" method="POST">

    <a href="/to-do">
        <i class='fas fa-trash-alt'>
            <p>Отказ</p>
        </i>
    </a>

    <input type="submit" value="Изтрий">

</form>