<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h3 class="my-3">Задача</h3>
                <p>{{task.content}}</p>

                <a class="btn btn-danger" href="/{{task._id}}/delete">Изтрий</a>
                <a class="btn btn-warning" href="/{{task._id}}/complete">Завърши</a>
            </div>
        </div>
    </div>
</main>