<main>
    <form class="text-center border border-light p-5" method="POST">
        <h1>Complete task</h1>
        
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" placeholder="Description" name="description">{{description}}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Complete</button>

    </form>
</main>