<main>
    <div class="auth-box">
        <p>Влез в профила си:</p>
        <a href="/auth/login" class="nav-link">Влез в профила си</a>
    </div>

    <p>Или</p>

    <div class="auth-box">
        <p>Регистрирай профил:</p>
        <a href="/auth/register" class="nav-link">Регистрирай се</a>
    <div>
</main>