<section>

    <h2>Не си вписан в приложението</h2>

    <p class="auth__redirect">
        <a class="auth__redirect-link" 
            href="/auth/login">
            <b>Влез в профила си</b>
        </a>
    </p>
    

    <h2>или</h2>

    <p class="auth__redirect">
        <a class="auth__redirect-link" 
            href="/auth/register">
            <b>Регистрирай профил</b>
        </a>
    </p>
    

</section>