<h2>Вход към профила</h2>

    <form class="auth-form" method="POST">
        <input type="text" placeholder="потребителско име" name="username" value="">
        <input type="password" placeholder="парола" name="password" value="">
        <a href="/auth/login">Вход</a>
    </form>

<p>Нямаш профил? <a class="redirect-link" href="/auth/register"><b>Регистрирай</b></a> свой профил.</p>