<section>

    <h2>Вход към профила</h2>

    <form action="/auth/login" method="POST">
        <input 
            type="text" 
            class="auth__input"  
            placeholder="потребителско име" 
            name="username" 
            value="">
        <input 
            type="password" 
            class="auth__input"  
            placeholder="парола" 
            name="password" 
            value="">
        <input 
            type="submit" 
            class="auth__submit" 
            value="Вход">
            <a href="/auth/login"></a>
    </form>

    <p class="auth__redirect">Нямаш профил?
        <br><a class="auth__redirect-link" 
                href="/auth/register">
        <b>Регистрирай</b></a>
        <br>свой профил.</br>
    </p>

</section>