<h2>Регистрирай профил</h2>

<form class="auth-form" method="POST">
        <input type="text" placeholder="потребителско име" name="username" value="">
        <input type="password" placeholder="парола" name="password" value="">
        <input type="password" placeholder="повтори паролата" name="repeatPassword" value="">
        <a href="/auth/register">Регистрация</a>
</form>

<p>Вече имаш профил? <a class="redirect-link" href="/auth/login"><b>Влез</b></a> в профила си.</p>