<section>

    <h2>Регистрирай профил</h2>

    <form action="/auth/register" method="POST">
        <input 
            type="text" 
            class="auth__input"  
            placeholder="потребителско име" 
            name="username" 
            value="">
        <input 
            type="password" 
            class="auth__input"  
            placeholder="парола" 
            name="password" 
            value="">
        <input 
            type="password" 
            class="auth__input" 
            placeholder="повтори паролата" 
            name="repeatPassword" 
            value="">
        <input 
            type="submit" 
            class="auth__submit" 
            value="Регистрация">
            <a href="/auth/register"></a>
    </form>

    <p class="auth__redirect">Вече имаш профил?
        <br><a class="auth__redirect-link" 
                href="/auth/login">
        <b>Влез</b></a>
        в профила си.</br>
    </p>

</section>