<main>

    {{#if formatedCompleted}}

        {{#if isOne}}
            <h3 class="text-center">1 завършена задача</h3>
        {{else}}
            <h3 class="text-center">{{formatedCompleted.length}} завършени задачи</h3>
        {{/if}}


    <div class="cards">

        {{#each formatedCompleted}}
            {{> task}}
        {{/each}}

    </div>

    {{else}}
        <h3>Няма завършени задачи...</h4class=>
    {{/if}}

</main>