<section>

    {{#if formattedToDoList}}

        {{#if isOne}}
            <h3>1 задача за изпълнение</h3>
        {{else}}
            <h3>{{formattedToDoList.length}} задачи за изпълнение</h3>
        {{/if}}


    <div>
        {{#each formattedToDoList}}
        {{> task}}
        {{/each}}
    </div>

    {{else}}
        <h3>Няма задачи за изпълнение...</h3>
    {{/if}}

</section>