<main>

    {{#if toDoList}}

    <h4>{{toDoList.length}} задачи за изпълнение</h4>

    <div class="cards">
        {{#each toDoList}}
        {{> task}}
        {{/each}}
    </div>

    {{else}}
        <h4>Няма задачи за изпълнение...</h4>
    {{/if}}

</main>