<main>

    {{#if formatedMyTasks}}

    <h3 class="text-center">{{formatedMyTasks.length}} задачи, създадени от {{user.username}}</h3>

    <div class="cards">

        {{#each formatedMyTasks}}
        {{> task}}
        {{/each}}

    </div>


    {{else}}
        <h3>Няма мои задачи...</h3>
    {{/if}}

</main>