<main>

    {{#if toDoList}}

    <h3>{{toDoList.length}} задачи за изпълнение</h3>

    <div class="cards">
        {{#each toDoList}}
        {{> task}}
        {{/each}}
    </div>

    {{else}}
        <h3>Няма задачи за изпълнение...</h3>
    {{/if}}

</main>