<section>

    {{#if formatedCompleted}}

        {{#if isOne}}
            <h3>1 завършена задача</h3>
        {{else}}
            <h3>{{formatedCompleted.length}} завършени задачи</h3>
        {{/if}}


    <div>
        {{#each formatedCompleted}}
            {{> task}}
        {{/each}}
    </div>

    {{else}}
        <h3>Няма завършени задачи...</h3>
    {{/if}}

</section>