<main>

    {{#if formatedCompleted}}

    <h3 class="text-center">{{formatedCompleted.length}} завършени задачи</h3>

    <div class="cards">

        {{#each formatedCompleted}}
        {{> task}}
        {{/each}}

    </div>

    {{else}}
        <h3>Няма завършени задачи...</h4class=>
    {{/if}}

</main>