<main>

    {{#if tasks}}

    <h4 class="text-center">{{tasks.length}} задачи</h4>


    <div class="cards">

        {{#each tasks}}
            {{> task}}
        {{/each}}

    </div>


    {{else}}
        <h3>Няма задачи...</h4=>
    {{/if}}

</main>