@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;
}
main {
    background-color: #E4F9F9;
    min-height: 444px;
}

/* div.container {
    color:#E4F9F9;
} */

header {
    display: grid;
    grid-template-columns: 10% auto 10%;
    margin: 0;
    padding: 0;
    background-color: #E4F9F9;
    border-radius: 10px 10px 0 0;
}
header .home {
    margin: 30px 20px 20px 30px;
    padding: 10px 10px 8px 10px;
    width: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background: #AFE4E4;
    color: #f4fafa;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}
header .home:hover {
    color: #607588;
    font-size:110%;
    background-color: #ffffff;
}
header > h1 {
    margin: 15px 0 0 0;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    letter-spacing: 8px;
    color: #607588;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

header .dropdown {
    position: relative;
    display: inline-block;
}
header .dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #f4fafa;
    min-width: max-content;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
header .dropdown-content:hover .dropdown-content {
    display: block;
}
header .dropdown p {
    margin: 18px 0 0 0;
    padding: 10px;
    text-align: center;
    color: #607588;
}
header .dropbtn {
    border-width: 0px;
    margin: 30px 30px 20px 10px;
    padding: 12px 10px 10px 10px;
    width: 50px;
    text-align: center;
    position: absolute;
    font-size: 16px;
    border-radius: 10px;
    background: #AFE4E4;
    color: #f4fafa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
header .dropdown-content a {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #607588;
    text-align: center;
    display: block;
}  
header .dropdown-content a:hover {
    background-color: #E4F9F9;
    color: #3B4444;
    font-style: italic;
} 
header .dropdown:hover .dropdown-content {
    display: block;
}

.search-create {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #E4F9F9;
    padding-bottom: 10px;
}
.search-create form.search {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 10px;
}
form .input-searh {
    padding: 10px 10px 12px 20px;
    margin: 0 10px 0 30px;
    border: 1px solid #AFE4E4;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    font-style: italic;
    color: #607588;
}
input[type=text]:focus {
    border: 1px solid #607588;
  }
.btn-search {
    border-width: 0px;
    margin: 0;
    padding: 0;
    width: 50px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background: #AFE4E4;
    color: #f4fafa;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}
.btn-search:hover {
    background-color: #f4fafa;
    color: #607588;
}


.create {
    margin: 0 30px 10px 30px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    border-radius: 10px;
    background: #AFE4E4;
    color: #f4fafa;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
}
.create:hover {
    color: #607588;
    font-size-adjust: inherit;
    font-size:110%;
    background-color: #ffffff;
}




h4 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #73a5a5;
}
h3 {
    text-align: center;
    margin: 0;
    padding: 50px;
    color: #73a5a5;
}

.cards {
    margin: 0;
    padding: 0 15px 15px 15px;
}
.card {
    display: grid;
    grid-template-columns: 15% auto 12%;
    grid-gap: 10px;
    margin: 15px;
    padding: 10px;
    background-color: #AFE4E4;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* html body div.container main main div.cards a.card div */
.card div {
    border-radius: 8px;
    text-align: left;
    color: #336161;
    background-color:#E4F9F9;
    padding: 10px 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* a.card:nth-child(1) > div:nth-child(2) */
.card div > div:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-completed {
    display: grid;
    grid-template-columns: 15% auto 12%;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #e3eded;
    border-radius: 10px;
    color: #3f5757;
    text-decoration-style: dashed;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card-completed:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-completed > div {
    border-radius: 8px;
    text-align: left;
    color: #7f9996;
    background-color:#f4fafa;
    padding: 10px 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:link {
    text-decoration: none;
}

/* .btn-group {
    margin-right: 20px;
} */

.notifications {
    background-color: rgb(255, 158, 158);
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    color: #E4F9F9;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px #cccccc;
    width: 100%;

}

footer {
    text-align: center;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: #687979;
    background-color: #E4F9F9;
}