@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 900px;
}
main {
    background-color: #f4fafa;
}

/* div.container {
    display:inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    color:#E4F9F9;
} */

header {
    display: grid;
    grid-template-columns: auto 30%;
    grid-gap: 10px;
    margin: 0;
    padding-bottom: 10px;
    background-color: #E4F9F9;
    border-radius: 8px 8px 0 0;
    color: #607588
}
header > h1 {
    margin: auto auto auto 90px;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    letter-spacing: 15px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
header > section {
    margin-top: 10px;
    text-align: center;
    color: #7d8a8a;
}
header > section p {
    margin: 0;
    padding: 0;
}
header > section a {
    color: #9fadad;
    text-decoration-style: dashed;
}
header > section a:hover {
    text-decoration: underline;
    color: #607588
}

.search-create {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #E4F9F9;
    padding-bottom: 5px;
}
.search-create form.search {
    display: grid;
    grid-template-columns: 85% 15%;
    margin-bottom: 10px;
}
form .input-searh {
    padding: 10px;
    margin: 0 5px 0 30px;
    border: 1px solid #AFE4E4;
    -webkit-transition: 0.5s;
    transition: 0.3s;
    outline: none;
    /* background-image: url('searchicon.png'); */
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
    font-style: italic;
    color: #607588;
}
input[type=text]:focus {
    border: 1px solid #607588;
  }
.btn-search {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    background: #AFE4E4;
    color: #f4fafa;
    cursor: pointer;
}
.btn-search:hover {
    background-color: #f4fafa;
    color: #607588;
}


.create {
    margin: 0 30px 10px 30px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    border-radius: 10px;
    background: #AFE4E4;
    color: #f4fafa;
    cursor: pointer;
}
.create:hover {
    color: #607588;
    font-size-adjust: inherit;
    font-size:110%;
    background-color: #ffffff;
}


.navbar {
    width: 100%;
    margin: 0px;
    padding: 10px;
    text-align: center;
    background: #f4fafa;
}
a.navbar-link {
    margin: 10px;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    color: #a1b9b9;
}
a.navbar-link:hover {
    color: #3B4444;
}
/* a.navbar-link:not(.active) {
    background-color: #f4fafa;
    color: #a8c0c0
} */
a.navbar-link:hover:not(.active) {
    background-color: #f4fafa;
    color: #3B4444
}

a.navbar-link active {
    background-color: #E4F9F9;
    color: #3B4444;
    font-size:120%;
}

h4 {
    text-align: center;
    margin: 0;
    padding: 10px;
    color: #336161;
    background-color: #f4fafa;

}

.card {
    display: grid;
    grid-template-columns: 15% auto 12%;
    grid-gap: 10px;
    margin: 10px 10px 0 10px;
    padding: 10px;
    background-color: #AFE4E4;
    border-radius: 10px;
}
.card > div {
    border-radius: 8px;
    text-align: left;
    color: #336161;
    background-color:#E4F9F9;
    padding: 10px 10px;
    font-size: 16px;
}
.card-completed {
    display: grid;
    grid-template-columns: 15% auto 12%;
    grid-gap: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #e3eded;
    border-radius: 10px;
    color: #3f5757;
    text-decoration-style: dashed;
}
.card-completed > div {
    border-radius: 8px;
    text-align: left;
    color: #7f9996;
    background-color:#f4fafa;
    padding: 10px 10px;
    font-size: 16px;
}

a:link {
    text-decoration: none;
}

.btn-group {
    margin-right: 20px;
}

.notifications {
    background-color: rgb(255, 158, 158);
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 6px;
    color: #E4F9F9;
    font-style: italic;
    text-decoration: underline;
    box-shadow: 0 5px 10px #cccccc;
    width: 100%;

}

footer {
    text-align: center;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    color: #687979;
    background-color: #f4fafa;
}