:root {
    /* --dark: #607588; */
    --dark: #336161;
    --deep: #73a5a5;
    --mid: #AFE4E4;
    --light: #E4F9F9;
    --muted: #e3eded;
    --grey: #7f9996;
    --white: #f4fafa;
    --red: #fbd5d5;
}