header {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    margin: 0;
    padding: 0;
    box-shadow: 0px 2px 3px var(--deep);
    border-radius: 10px 10px 0 0;
    justify-items: stretch;
    align-items: stretch;
}

@media screen and (max-width: 604px) { 
    header {
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        box-shadow: none;
    }
}
@media screen and (max-width: 350px) {
    header {
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        box-shadow: none;
    }
}


