header {
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    margin: 0;
    padding: 0;
    /* box-shadow: 0px 2px 3px var(--deep); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-items: stretch;
    align-items: stretch;
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width: 604px) { 
    header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        box-shadow: none;
    }
}