.menu {
    padding: 0;
    background-color: var(--light);
    border-radius: 8px;
    font-size: 1.2rem;
}
@media screen and (max-width: 604px) {
    .menu {
        /* box-shadow: 0px 3px 2px var(--deep); */
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        font-size: 1rem;
    }
}

.fa-bars, .fa-search, .fa-plus {
    display: grid;
    margin: 0;
    color: var(--dark);
}
@media screen and (max-width: 604px) {
    .fa-bars, .fa-search, .fa-plus {
        font-size: 0.9rem;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 70px;
    background-color: var(--white);
    min-width: max-content;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 20px 30px;
    text-align: left;
    font-size: 1.2rem;
    border-radius: 10px;
}  
@media screen and (max-width: 604px) {
    .dropdown-content a {
        padding: 20px;
        font-size: 1rem;
    }
}

.dropdown-content a:hover {
    background-color: var(--light);
    color: var(--dark);
    font-style: italic;
} 

.dropdown-content h4:hover {
    cursor: auto;
}
