button {
    margin: 0;
    padding: 12px 12px 10px 12px;
    min-width: 50px;
    min-height: 45px;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: var(--white);
    transition-duration: 0.3s;
}

button:hover {
    background-color: var(--white);
}

@media screen and (max-width: 604px) {
    button {
        font-size: 0.9rem;
        min-width: 40px;
        min-height: 35px;
    }
}
@media screen and (max-width: 350px) {
    button {
        font-size: 0.8rem;
        min-width: 35px;
        min-height: 30px;
    }
}
