input {
    padding: 10px 15px;
    border: 1px solid var(--mid);
    outline: none;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--dark);
}
input:focus {
    border: 2px solid var(--mid);
}

@media screen and (max-width: 604px) { 
    input {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 350px) {
    input {
        font-size: 1rem;
    }
}