footer {
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    color: var(--dark);
    opacity: 0.5;
}

@media screen and (max-width: 604px) { 
    footer {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 350px) {
    footer {
        font-size: 0.8rem;
    }
}