li {
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 15px;
}

@media screen and (max-width: 604px) {
    li {
        padding: 9px;
        font-size: 1rem;
        border-radius: 12px;
    }
}
@media screen and (max-width: 350px) {
    li {
        padding: 8px;
        font-size: 0.9rem;
        border-radius: 10px;
    }
}